{% extends "Layout.html" %}

{% block head %}
<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="../static/about-styles.css">
{% endblock head %}

{% block content %}
<section class="main">
    <div class="container">
        <article class="main-col">
            <h1 class="page-title">About Me</h1>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi eum fugiat iste nisi veniam
                voluptate voluptatum Aliquid ea officia optio!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi eum fugiat iste nisi veniam
                voluptate.
                <br>
                Aliquid culpa, dolorem dolores laborum nam optio placeat ut? Aliquid ea officia
                optio!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi eum fugiat iste nisi
                veniam
                voluptate voluptatum. Aliquid culpa, dolorem dolores laborum nam optio placeat ut? Aliquid ea officia
                optio!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                <br>
                <br>
                Alias commodi eum fugiat iste nisi veniam
                voluptate voluptatum. Aliquid culpa, dolorem dolores laborum nam optio placeat ut? Aliquid ea officia
                optio!Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi eum fugiat iste nisi
                veniam
                voluptate voluptatum.
                <br>
                <br>
                Aliquid culpa, dolorem dolores laborum nam optio placeat ut? Aliquid ea officia
                optio!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi eum fugiat iste nisi veniam
                voluptate voluptatum. Aliquid culpa, dolorem dolores laborum nam optio placeat ut? Aliquid ea officia
                optio!
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias commodi eum fugiat iste nisi veniam
                voluptate voluptatum.
            </p>
        </article>
        <aside id="sidebar">
            <div>
                <h1>
                    Goals
                </h1>
                <p>To be honest, I build this website to impress you! To show my abilities and skills in web design and
                    programming.</p>
            </div>
            <div>
                <h1>My Story</h1>
                <p>I started learning programming with python as my first programming language when I was 17. A year
                    later I started teaching what I've learned, and I'm teaching python since then. In summer of 2021 I
                    decided to learn web design and now here I am.</p>
            </div>
            <div>
                <h1>'Aha!' moment</h1>
                <p>I started building this website in March 2022 as I was looking for a job, I thought building a
                    portfolio can help me find one.</p>
            </div>
        </aside>
    </div>
</section>
{% endblock content %}
