{% extends "Layout.html" %}
{% block content %}
    <section class="main">
        <div class="container">
            <div class="contact-area">
                <div class="contact">
                    <main>
                        <section>
                            <div class="content">
                                <img src="../static/images/profile2.jpg" alt="Profile Image">

                                <aside>
                                <h1>Arash Sadeghi</h1>
                                <p>Hi, I'm Arash and I'm a Web Developer.</p>
                                </aside>

                                <button>
                                <span>Contact Me</span>

                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"> <g class="nc-icon-wrapper" fill="#444444"> <path d="M14.83 30.83L24 21.66l9.17 9.17L36 28 24 16 12 28z"></path> </g> </svg>
                                </button>
                            </div>

                            <div class="title"><p>Contact Me</p></div>
                        </section>


                    </main>

                    <nav>
                            <a href="#" class="gmail">
                                <div class="icon">
                                <i class='fas fa-envelope'></i>
                                </div>

                                <div class="content">
                                <h1>Email</h1>
                                <span>Awrash.sn@gmail.com</span>
                                </div>
                            </a>

                            <a href="#" class="telegram">
                                <div class="icon">
                                <i class="fab fa-telegram-plane social-media-icon"></i>
                                </div>

                                <div class="content">
                                <h1>Telegram</h1>
                                <span>Arash</span>
                                </div>
                            </a>

                            <a href="#" class="instagram">
                                <div class="icon">
                                <i class="fab fa-instagram social-media-icon"></i>
                                </div>

                                <div class="content">
                                <h1>Instagram</h1>
                                <span>Arash</span>
                                </div>
                            </a>

                            <a href="#" class="linkedin">
                                <div class="icon">
                                <i class="fab fa-linkedin social-media-icon"></i>
                                </div>

                                <div class="content">
                                <h1>LinkedIn</h1>
                                <span>Arash Sadeghi</span>
                                </div>
                            </a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
