{% extends "Layout.html" %}
{% block content %}
<section class="main">
        <div id="resume">
            <div id="person">
                <img src="../static/images/profile.jpg" alt='Picture' class="pic">

                <h1 id="full-name">Arash Sadeghi Nejad</h1>
                <p id="job-title">Junior Developer</p>
                <p class="desc">Computer engineering student interested in Programming, Web Development and AI.</p>
                <p id="city">City : Tehran</p>
                <p id="birth">Birth : 16/1/2002</p>

                 <div id="contact">

                     <div class="left">
                        <ul>
                            <li><i class="fas fa-phone-alt"></i></li>
                            <li><i class="fab fa-whatsapp icons"></i></li>
                            <li><i class="fas fa-envelope"></i></li>
                            <li><i class="fab fa-linkedin icons"></i></li>
                            <li><i class="fab fa-github icons"></i></li>
                        </ul>
                     </div>

                     <div class="right">
                        <p>09390000000</p>
                        <p>09390000000</p>
                        <p>Awrash.sn@gmail.com</p>
                        <p>Arash-Sadeghi-Nejad</p>
                        <p>ThePythonist</p>
                     </div>

                </div>
            </div>
            <div id="skills">
                <h2 class="col-name">SKILLS</h2>
                <ul>
                    <li class="skill-name">Python</li>
                    <progress class="skill-progress-bar" value="90" max="100"> 32% </progress>
                    <li class="skill-name">Flask</li>
                    <progress class="skill-progress-bar" value="60" max="100"> 32% </progress>
                    <li class="skill-name">Django</li>
                    <progress class="skill-progress-bar" value="40" max="100"> 32% </progress>
                    <li class="skill-name">SQL</li>
                    <progress class="skill-progress-bar" value="50" max="100"> 32% </progress>
                    <li class="skill-name">Git</li>
                    <progress class="skill-progress-bar" value="80" max="100"> 32% </progress>
                    <li class="skill-name">HTML</li>
                    <progress class="skill-progress-bar" value="80" max="100"> 32% </progress>
                    <li class="skill-name">CSS</li>
                    <progress class="skill-progress-bar" value="80" max="100"> 32% </progress>
                    <li class="skill-name">Linux Terminal</li>
                    <progress class="skill-progress-bar" value="50" max="100"> 32% </progress>
                    <li class="skill-name">ICDL</li>
                    <progress class="skill-progress-bar" value="70" max="100"> 32% </progress>
                    <li class="skill-name">Computer Networking</li>
                    <progress class="skill-progress-bar" value="60" max="100"> 32% </progress>
                    <li class="skill-name">Virtualization (VMware)</li>
                    <progress class="skill-progress-bar" value="50" max="100"> 32% </progress>
                </ul>
            </div>
            <div id="certificates">
                <h2 class="col-name">CERTIFICATES</h2>
                <ul>
                    <li class="name">Python Programming</li>
                    <p class="desc">Tehran Institute of Technology</p>
                    <li class="name">CompTIA Network+</li>
                    <p class="desc">Tehran Institute of Technology</p>
                    <li class="name">ICDL</li>
                    <p class="desc">Tehran Institute of Technology</p>
                </ul>
            </div>
            <div id="languages">
                <h2 class="col-name">LANGUAGE (ENGLISH)</h2>
                <ul>
                    <li>Reading</li>
                    <progress class="skill-progress-bar" value="80" max="100"> 32% </progress>
                    <li>Writing</li>
                    <progress class="skill-progress-bar" value="80" max="100"> 32% </progress>
                    <li>Speaking</li>
                    <progress class="skill-progress-bar" value="80" max="100"> 32% </progress>
                    <li>Listening</li>
                    <progress class="skill-progress-bar" value="80" max="100"> 32% </progress>
                </ul>
            </div>
            <div id="education">
                <h2 class="col-name">EDUCATION</h2>
                <ul>
                    <li>Bachelor</li>
                    <p class="desc">Computer Software Engineering</p>
                    <p class="desc">Islamic Azad University, Shahr Qods Branch</p>
                    <p class="desc">Since 2020</p>
                </ul>
            </div>
            <div id="experience">
                <h2 class="title">EXPERIENCE</h2>
                <ul>
                    <li class="name">Python Teacher</li>
                    <p class="desc">Pishgaman Sanaat Institution</p>
                    <p class="desc">Since 2019</p>
                </ul>
            </div>
        </div>
</section>
{% endblock content %}
